<%- include("./partials/header") %>
<%- include("./partials/navBar") %>

<main>
    <div class="grid grid-col-1 justify-center gap-4 m-10">
        <% userList.forEach((user) => { %>
            <div class="flex flex-row pb-5">
                <%- include('./partials/user', {user: user}) %>
            </div>
        <% }); %>
    </div>
</main>

<%- include("./partials/footer") %>