<%- include("./partials/header") %>
<%- include("./partials/navBar") %>

<main>
    <p class="text-center text-2xl font-bold p-10 text-red-600"><%= message %></p>
</main>

<%- include("./partials/footer") %>