<%- include("./partials/header") %>
<%- include("./partials/navBar") %>

<main>
    <div class="grid grid-flow-row lg:grid-flow-col auto-co p-20 gap-3">
        <img src="/images/baking-bread.jpg" alt="" width="377px" height="587px">
        <img src="/images/breaking-back.jpg" alt="" width="377px" height="587px">
        <img src="/images/breaking-cell.jpg" alt="" width="377px" height="587px">
    </div>
</main>

<%- include("./partials/footer") %>